---
name: ShareFare CI

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install modules
        working-directory: ShareFare
        run: npm i
      - name: Run ESLint
        working-directory: ShareFare
        run: npm run lint
      - name: Run Prettier
        working-directory: ShareFare
        run: npm run format:check

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install modules
        working-directory: ShareFare
        run: npm i
      - name: Build
        working-directory: ShareFare
        run: npm run build
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ShareFare/dist

  deploy:
    needs: [lint, build]
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
